@charset 'utf-8'
@import '../node_modules/bulma/sass/utilities/_all'
@import '../node_modules/bulma/sass/base/_all'
@import '../node_modules/bulma/sass/elements/_all'
@import '../node_modules/bulma/sass/components/_all'
@import '../node_modules/bulma/sass/grid/_all'
@import '../node_modules/bulma/sass/layout/_all'

#admin-header
    padding: 1.5rem 0
    background-color: hsl(0, 0%, 96%)

    img
        margin-bottom: 1rem
        width: 200px
        height: auto
        max-height: 100px

#transactions-section
    padding: 1rem 1.5rem;

    #menu
        display: flex
        flex-flow: column
        align-items: center

        #bulk-btn, #accounts-btn
            margin-right: 0.5rem

        .options-container
            display: flex
            flex-flow: column nowrap
            align-items: center
            margin-bottom: 1rem

    #bulk-modal, #single-modal, #new-account-modal, #reset-modal, #password-modal
        .modal-card
            width: 15rem

    #user-modal
        .modal-card
            width: 55rem

    #accounts-modal
        .modal-card
            width: 35rem
    
    #form-buttons-container
        justify-content: flex-end

    #cancel-btn
        margin-right: 0.5rem

    table
        margin: 1rem auto