@charset 'utf-8'
/*! bulma.io v0.5.2 | MIT License | github.com/jgthms/bulma */
@import '../node_modules/bulma/sass/utilities/_all'
@import '../node_modules/bulma/sass/base/_all'
@import '../node_modules/bulma/sass/elements/_all'
@import '../node_modules/bulma/sass/components/_all'
@import '../node_modules/bulma/sass/grid/_all'
@import '../node_modules/bulma/sass/layout/_all'
/*! end bulma.io v0.5.2 */

#admin-header
    padding: 0 0 1.5rem 0
    background-color: gold

    img
        margin-bottom: 1rem

#transactions-section
    padding: 1rem 1.5rem;

    #menu
        display: flex
        flex-flow: column
        align-items: center

        #bulk-btn
            margin-right: 0.5rem

        #transfer-options
            display: flex
            flex-flow: column nowrap
            align-items: center
            margin-bottom: 1rem

    #bulk-modal, #single-modal, #new-account-modal
        .modal-card
            width: 15rem

    #form-buttons-container
        justify-content: flex-end

    #cancel-btn, #delete-btn
        margin-right: 0.5rem

    table
        margin: 1rem auto