@charset 'utf-8'
/*! bulma.io v0.5.2 | MIT License | github.com/jgthms/bulma */
@import '../node_modules/bulma/sass/utilities/_all'
@import '../node_modules/bulma/sass/base/_all'
@import '../node_modules/bulma/sass/elements/_all'
@import '../node_modules/bulma/sass/components/_all'
@import '../node_modules/bulma/sass/grid/_all'
@import '../node_modules/bulma/sass/layout/_all'

#user-header
    padding: 0 0 1.5rem 0
    background-color: gold

    img
        margin-bottom: 1rem

#transactions-section
    padding: 1rem 1.5rem;

    table
        margin: 1rem auto;