.modal#accounts-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left Cuentas
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            table.table
                thead
                    tr
                        th ID
                        th Usuario
                        th Contraseña
                tfoot
                    tr
                        th ID
                        th Usuario
                        th Contraseña
                tbody
                    each user in users
                        tr
                            td= user.id
                            td= user.username
                            td= user.password &nbsp; 
                                button.button.is-small Cambiar
            .field.has-text-right
                button.button#create-btn Crear