.modal#accounts-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left Cuentas
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            table.table
                thead
                    tr
                        th Seleccionar
                        th Usuario
                        th Contraseña
                tfoot
                    tr
                        th Seleccionar
                        th Usuario
                        th Contraseña
                tbody
                    each user in users
                        tr
                            td: input(type="checkbox", name="delete", value=user.id)
                            td= user.username
                            td= user.password
            .field.is-grouped#form-buttons-container
                button.button.is-danger#delete-btn Eliminar
                button.button#create-btn Crear