.modal#password-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left Usuario
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            form(action="/admin/password", method="POST")
                .field.has-text-left
                    label.label Nueva Contraseña
                    .control
                        input.input(name="password", type="password", placeholder="Contraseña")
                input#user-id(name="id", type="hidden")
                .field.is-grouped#form-buttons-container
                    button.button#cancel-btn(type="reset") Cancelar
                    button.button.is-success(type="submit") Cambiar