.modal#reset-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left Resetear
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            form(action="/admin/reset", method="POST")
                .field.has-text-left
                    label.label Contraseña
                    .control
                        input.input(name="password", type="password", placeholder="Contraseña")
                .field.is-grouped#form-buttons-container
                    button.button#cancel-btn(type="reset") Cancelar
                    button.button.is-danger(type="submit") Resetear