.modal#user-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left User
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            table.table
                thead
                    tr
                        th ID
                        th Remitente
                        th Destinatario
                        th Concepto
                        th Fecha
                        th: i.fa.fa-inr(aria-hidden="true")
                tfoot
                    tr
                        th ID
                        th Remitente
                        th Destinatario
                        th Concepto
                        th Fecha
                        th: i.fa.fa-inr(aria-hidden="true")
                tbody