.modal#user-modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.has-text-left User
            button.delete#close-btn(aria-label='close')
        section.modal-card-body
            include ../../user/user-table.pug