section.section
    form(action="", method="POST").container#login-form
        .field
            label.label Username
            .control
                .select
                    select(name="username")
                        each user in users
                            option(value=user.username)= user.username
        .field
            label.label Password
            .control
                input.input(type='password', placeholder='Password', name="password")
        .field
            .control.has-text-right
                button.button.is-success(type="submit") Login