section.section#transactions-section
    .container.has-text-centered
        button.button.is-primary#transfer-btn Transferir
        .modal#transfer-modal
            .modal-background
            .modal-card
                header.modal-card-head
                    p.modal-card-title Transferir
                    button.delete#close-btn(aria-label='close')
                section.modal-card-body
                // Content ...
                footer.modal-card-foot
                    button.button#cancel-btn Cancelar
                    button.button.is-success Aceptar
        table.table
            thead
                tr
                    th ID
                    th Destinatario
                    th Concepto
                    th Fecha
                    th: i.fa.fa-inr(aria-hidden="true")
            tfoot
                tr
                    th ID
                    th Destinatario
                    th Concepto
                    th Fecha
                    th: i.fa.fa-inr(aria-hidden="true")
            tbody
                tr
                    th 1
                    td Grupo REMA
                    td Este es un concepto relativamente largo.
                    td 22/09/2017
                    td 1500