header.section#user-header
    .container.has-text-centered
        img(src="/img/Logo.png")
        h1.title= user.username
        if user.balance.startsWith('-')
            h2.subtitle.has-text-danger Balance: #{user.balance} 
                i.fa.fa-inr(aria-hidden="true")
        else
            h2.subtitle Balance: #{user.balance} 
                i.fa.fa-inr(aria-hidden="true")