section.section#transactions-section
    .container.has-text-centered
        button.button.is-primary#transfer-btn Transferir
        .modal#modal
            .modal-background
            .modal-card
                header.modal-card-head
                    p.modal-card-title.has-text-left Transferir
                    button.delete#close-btn(aria-label='close')
                section.modal-card-body
                    form(action="", method="POST")
                        .field.has-text-left
                            label.label A
                            .control
                                .select
                                    select(name="receiver")
                                        - var reqUser = user
                                        each user in users
                                            unless user.username === 'admin' || reqUser.id === user.id
                                                option(value=user.id)= user.username
                        .field.has-text-left
                            label.label Cantidad
                            .control.has-icons-right
                                input.input(name="quantity", type="number", placeholder="Cantidad", min="1", max="9999999", step="any", required)
                                span.icon.is-small.is-right
                                    i.fa.fa-inr(aria-hidden="true")
                        .field.has-text-left
                            label.label Concepto
                            .control
                                textarea.textarea(name="concept", placeholder="(8 =< Caracteres <= 25)", rows="2", minlength="8", maxlength="25", required)
                        .field.is-grouped#form-buttons-container
                            button.button#cancel-btn(type="reset") Cancelar
                            button.button.is-success(type="submit") Aceptar        
        include user-table.pug