header.section#user-header
    .container.has-text-centered
        img(src="http://via.placeholder.com/180x80", alt="Banco de La Laguna")
        h1.title User
        h2.subtitle Balance: 1000 
            i.fa.fa-inr(aria-hidden="true")