header.section#admin-header
    .container.has-text-centered
        img(src="http://via.placeholder.com/180x80", alt="Banco de La Laguna")
        h1.title Balance: 999999 
            i.fa.fa-inr(aria-hidden="true")