header.section#admin-header
    .container.has-text-centered
        img(src="/img/Logo.png")
        if admin.balance.startsWith('-')
            h1.title.has-text-danger Balance: #{admin.balance} 
                i.fa.fa-inr(aria-hidden="true")
        else
            h1.title Balance: #{admin.balance} 
                i.fa.fa-inr(aria-hidden="true")